body{
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a{
    color: white;
    text-decoration: none;
}

header img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 5px solid green;
}

h1{
    color: green;
}

.container{
    padding: 0px 50px;
}

nav a:hover{
    color: green;
}

header p{
    text-align: center;
}

#alice{
    color: aquamarine;
}
